<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
        </ion-buttons>
    <ion-title>Edit Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
       
          <ion-list>
              <ion-item>
                  <ion-label position="stacked"> Nama Lengkap</ion-label>
                  <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
                </ion-item>
            <ion-item>
                <ion-label position="stacked"> NIP</ion-label>
                <ion-input required type="number" [(ngModel)]="nip" name="nip"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="stacked"> Jenis Kelamin</ion-label>
                  <ion-input required type="text" [(ngModel)]="genre" name="genre"></ion-input>
                </ion-item>
              <ion-item>
                  <ion-label position="stacked"> Phone</ion-label>
                  <ion-input required type="number" [(ngModel)]="phone" name="phone"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked"> Alamat</ion-label>
                    <ion-input required type="text" [(ngModel)]="alamat" name="alamat"></ion-input>
                  </ion-item>
               
                  <br><br><br><br><br><br>
                  <ion-button color="light" type="submit" expand="block" shape="round" (click)="updateProfile()">Update</ion-button>
                  
                  
          </ion-list>
        
      </ion-card>
</ion-content>
