<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/home"></ion-back-button>
          </ion-buttons>
      <ion-title class="ion-text-center">Kelas</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
  
    <!-- button bulat tambah -->
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/add-kelas']">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab> 
    
      <ion-card *ngFor="let kelas of kelass">
        <ion-card-header>
          <ion-card-title>{{ kelas.nkelas }}</ion-card-title>
          <h6>{{ kelas.nguru }}</h6>
        </ion-card-header>
    
          <ion-item-sliding>
            <ion-item color="light">
              <ion-label>{{ kelas.kode }}</ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger" (click)="delete(kelas.id)">
                HAPUS
              </ion-item-option>
              <ion-item-option color="warning" [routerLink]="['/edit-kelas/', kelas.id]">
                  EDIT
                </ion-item-option>
                
    
            </ion-item-options>
          </ion-item-sliding>
    
        </ion-card>
    </ion-content>
  
