<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/x-ipa"></ion-back-button>
          </ion-buttons>
      <ion-title>Bimbingan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item>
          <ion-input type="text" [(ngModel)]="xipa.namasiswa" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" [(ngModel)]="xipa.namakelas" required></ion-input>
          </ion-item>
  


          <br><br><br><br><br><br>
          <ion-button fill="full" shape="round" color="light"  href="http://api.whatsapp.com/send?phone=6282250016434" rel="noopener noreferrer" target="_blank">
            <ion-icon name="logo-whatsapp"></ion-icon>Bimbingan Melalui Whatsapp
          </ion-button>
         
      
  </ion-content>
  
  