<ion-header>
  <ion-toolbar>
    <ion-title>add-bimbingan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="floating"> Nama Kelas</ion-label>
          <ion-input required type="text" [(ngModel)]="nkelas" name="nkelas"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating"> Nama Guru</ion-label>
          <ion-input required type="text" [(ngModel)]="nguru" name="nguru"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating"> kode</ion-label>
            <ion-input required type="text" [(ngModel)]="kode" name="kode"></ion-input>
          </ion-item>
              <br><br><br><br><br><br><br>
              <ion-button color="light" type="submit" expand="block" shape="round" (click)="register()">tambah</ion-button>
      </ion-list>
    </form>
  </ion-card>

</ion-content>