<ion-header>
    <ion-toolbar>
      <ion-title>Profile</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="editProfile()">
            <ion-icon slot="icon-only" name="settings"></ion-icon>
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  
  <br>
  <ion-content class="ion-padding">
  
  
      <ion-card color="light">
          <div class="img-wrapper">
            <img src="./assets/siswaa.jpg"/>
           
          </div>
          <ion-card-content class="ion-text-center">
            <h2>Nama : {{user?.userName}}</h2>
            <p>Nisn : {{user?.userNisn}}</p>
            <p>Jenis Kelamin : {{user?.userGenre}}</p>
            <p>Telp : {{user?.userPhone}}</p>
       
  
  
            <ion-text color="medium">
              <div style="display: flex;" class="ion-justify-content-center">
                <ion-icon name="location-outline" color="medium">
                </ion-icon>
                <p>Alamat : {{user?.Alamat}}</p>
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
  
        <br><br><br><br><br><br>
        <ion-button expand="block" color="light" routerLink="/utama">Keluar</ion-button>

  </ion-content>
  
