<ion-header>
  <ion-toolbar>
    <ion-title>Tambah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating">Nama Siswa</ion-label>
        <ion-input type="text" [(ngModel)]="xipa.namasiswa" required></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Nama Kelas</ion-label>
          <ion-input [(ngModel)]="xipa.namakelas" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">No Telp</ion-label>
            <ion-input type="number" [(ngModel)]="xipa.phone" required></ion-input>
          </ion-item>
    
      <ion-item>
        <ion-label position="floating">Permasalahan</ion-label>
        <ion-input [(ngModel)]="xipa.karakter" required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">penanganan</ion-label>
        <ion-input type="text" [(ngModel)]="xipa.penanganan" required></ion-input>
      </ion-item>
      <br><br><br><br><br><br>
      <ion-button color="light" type="submit" expand="block" shape="round" (click)="createKelas(xipa)">Tambah</ion-button>
</ion-content>
