<ion-header>
    <ion-toolbar>
      <ion-title>Editt</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-item>
          <ion-label position="floating">Nama Siswa</ion-label>
          <ion-input type="text" [(ngModel)]="xips.namasiswa" required></ion-input>
        </ion-item>
  
        <ion-item>
            <ion-label position="floating">Nama Kelas</ion-label>
            <ion-input type="text" [(ngModel)]="xips.namakelas" required></ion-input>
          </ion-item>
      
        <ion-item>
          <ion-label position="floating">Prestasi</ion-label>
          <ion-input type="text" [(ngModel)]="xips.prestasi" required></ion-input>
        </ion-item>

        <br><br><br><br><br><br>
        <ion-button color="light" type="submit" expand="block" shape="round" (click)="updateKelas(xips)">Simpan</ion-button>
  </ion-content>
  