<ion-header>
  <ion-toolbar>
    <ion-title>Pengaturan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block" color="warning" routerLink="/utama">Keluar</ion-button> 
</ion-content>
