<ion-header>
    <ion-toolbar> 
      <ion-title>Menu</ion-title>
        <ion-avatar  class="image-center">
            <img name="profile_pic" src="assets/siswaa.jpg">
          </ion-avatar>  
    </ion-toolbar>
  </ion-header>
  
<ion-content>

    <ion-toolbar>
        <p>Selamat Datang</p>
      </ion-toolbar>
    <ion-slides  [options]="slideOpts">
      <ion-slide>
        <ion-card href="https://regional.inews.id/berita/tawuran-pelajar-di-serang-2-luka-luka-kena-celurit-belasan-ditangkap">
            <ion-img src="assets/siswa/c.jpg"></ion-img>
          <ion-card-content>
          Siswa SD yang terlibat tawuran akhirnya diamankan oleh petugas
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
          <ion-card href="https://aceh.tribunnews.com/2020/11/07/di-tengah-pandemi-corona-puluhan-pelajar-aceh-raih-prestasi-nasional-dan-internasional">
            <ion-img src="assets/siswa/a.jpg"></ion-img>
            <ion-card-content>
                Di Tengah Pandemi Corona, Puluhan Pelajar Aceh Raih Prestasi Nasional dan Internasional
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card href="https://www.kompas.com/edu/read/2020/12/12/092345171/kemendikbud-salurkan-kartu-indonesia-pintar-untuk-siswa-prasejahtera">
              <ion-img src="assets/siswa/d.jpg"></ion-img>
              <ion-card-content>
                  Kemendikbud Salurkan Kartu Indonesia Pintar untuk Siswa Prasejahtera
              </ion-card-content>
            </ion-card>
          </ion-slide>
      </ion-slides>


    <ion-slides  [options]="slideOpts">
    <ion-slide>
    <ion-card routerLink="/tabs2/kelas-siswa">
      <ion-card-content>
      <ion-img src="assets/kelas.png"></ion-img>
    </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card routerLink="/tabs2/bimbingan-siswa">
        <ion-card-content>
        <ion-img src="assets/2.png"></ion-img>
      </ion-card-content>
        </ion-card>
      </ion-slide>
        <ion-slide>
    <ion-card routerLink="/daftar-siswa-berprestasi">
      <ion-card-content>
      <ion-img src="assets/4.png"></ion-img>
    </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
    
      
    </ion-content>