<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/pilihan"></ion-back-button>
        </ion-buttons>
    <ion-title>tamu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card routerLink="/tamukelas">
      <ion-card-content>
      <ion-img src="assets/kelas.png"></ion-img>
    </ion-card-content>
      </ion-card>

      <ion-card routerLink="/daftar-siswa-berprestasi">
        <ion-card-content>
        <ion-img src="assets/4.png"></ion-img>
      </ion-card-content>
        </ion-card>
</ion-content>
