<ion-content padding class="background">
    <br><br><br><br><br>
    <h1 style="text-align: center;" >MAKSIS</h1>
  <br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br>
  <div style="text-align: center;">
  <ion-button color="light" type="submit"  size="default" [routerLink]="['/login']">Sebagai Guru</ion-button>
  <ion-button color="light" type="submit"  size="default" [routerLink]="['/login2']">Sebagai Siswa</ion-button>
</div>

<hr color="grey">
  <ion-button color="light" type="submit"   expand="block" shape="round" [routerLink]="['/tamu']">Sebagai Tamu</ion-button>

</ion-content>
