<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-searchbar></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
          <ion-card>
              <ion-card-content>
                Halaman Pesan
              </ion-card-content>
            </ion-card>
  </ion-content>