<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buat Kelas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Nama Kelas</ion-label>
        <ion-input type="text" [(ngModel)]="namakelas"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Nama Wali Kelas</ion-label>
          <ion-input type="text" [(ngModel)]="namawalikelas"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Kode</ion-label>
            <ion-input type="text" [(ngModel)]="kode"></ion-input>
          </ion-item>
       <ion-button fill="solid" expand="block" (click)="simpan()">Simpan</ion-button>
    </ion-list>
 </ion-content>