<ion-content [fullscreen]="true" >
    <br><br><br><br><br>
    <ion-card>
      <ion-img src="assets/maksis2.png"></ion-img>
    </ion-card>
    <br>
    <ion-button color="light" fill="solid" expand="block" routerLink="/login">Login</ion-button>
    <ion-button color="light" fill="solid" expand="block" routerLink="/register">Register</ion-button>
    <br>
    <ion-button color="light" fill="solid" expand="block" routerLink="">Masuk Sebagai Tamu</ion-button>
  </ion-content>