<ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card routerLink="/add-kelas">
    <ion-img src="assets/uad.jpg"></ion-img>
      <ion-card-content>
        Masuk Sebagai Guru
      </ion-card-content>
    </ion-card>

  <ion-card routerLink="/tabs/pesan">
    <ion-img src="assets/uad.jpg"></ion-img>
      <ion-card-content>
       Masuk Sebagai Siswa
      </ion-card-content>
    </ion-card>
</ion-content>
