<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs2/utama-siswa"></ion-back-button>
          </ion-buttons>
  
      <ion-title>Daftar</ion-title>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card *ngFor="let xipa of xipa">
  
          
              <ion-item color="light">
                <ion-label>
                   {{ xipa.namasiswa }}
                 </ion-label>
              </ion-item>
  
             
      
          <ion-card-header>
            <p>KELAS        : {{ xipa.namakelas }}</p>
            <p>NO TELP      : {{ xipa.phone }}</p>  
            <p>PERMASALAHAN : {{ xipa.karakter }}</p> 
            <p>PENANGANAN   : {{ xipa.penanganan }}</p> 
  
           
          </ion-card-header>
         
          </ion-card>
  
  </ion-content>
