<ion-header>
    <ion-toolbar>
      <ion-title>Pesan</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <p>Chat Pembimbing Melalui Whatsapp</p>

    <br><br>
    <ion-card color="light">
        <div class="img-wrapper">
          <img src="./assets/guruu.jpg" />
         
        </div>
        <ion-card-content class="ion-text-center">
          <h2>Pembimbing</h2>
          <br>
          <h2>Nama : Ucup S.Pd</h2>
          <p>Telp : 083104900840</p>
 
        </ion-card-content>

        <ion-button  expand="block"  color="success"  href="http://api.whatsapp.com/send?phone=6283104900840&amp;text=Saya Ahmad Roul Marufi ingin melakukan bimbingan" rel="noopener noreferrer" target="_blank">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </ion-button>
      </ion-card>
  </ion-content>
  